{
  "parser": "babel-eslint",

  "parserOptions": {
    "sourceType": "module"
  },

  "extends": [
    "semistandard-react"
  ],

  "globals": {
    "React": true,
    "ReactDOM": true,
    "PropTypes": true,
    "classNames": true,
    "L": true
  },

  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "react/jsx-quotes": 0,
    "react/jsx-sort-prop-types": true,
    "react/wrap-multilines": true
  }
}

